# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp

# Testing
coverage/

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore
